<p>Hello
  {{firstname}}
  a request has been made to reset your password. Please
  <a href="{{link}}">click on this link</a>
  to reset your password or copy and paste the following link into your browser:
  {{link}}
  <br />

  If you did not make this request, please ignore this email.

</p>